{% load i18n static %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/dash.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/order.css">


<div id="container">
<!--Header-->
<div id="header">
    <div id="branding">
    {% block branding %}
    <h1><b>POS</b> Administration</h1>
    {% endblock %}
    </div>
    {% block usertools %}
    <div id="user-tools">
        {% block welcome-msg %}
            {% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            /
        {% endblock %}
        {% block userlinks %}
            {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
            {% endif %}
            <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
        {% endblock %}
    </div>
    {% endblock %}
    {% block nav-global %}{% endblock %}
</div>
<!--End Header-->

 {% block breadcrumbs %}
    <div class="breadcrumbs" id="bread">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; {% trans 'Order' %}
    </div>
{% endblock %}


{% block sidenav %}  
{% if user.is_superuser %}
    <div class="sidenav">
        <a href="/admin">Quick Access</a>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/users/index">Users</a>
        <a href="/admin/item/index">Inventory</a>
        <a href="/admin/order/index">Orders</a>
        <a href="/admin/sales">Sales & Purchase</a>
        <a href="/admin/reports">Reports</a>
    </div>
{% else %}
    <div class="sidenav">
        <a href="/admin">Quick Access</a>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/users/index">Users</a>
        <a href="/admin/item/index">Inventory</a>
        <a href="/admin/order/index">Orders</a>
        <a href="/admin/sales">Sales & Purchase</a>
    </div>
{% endif %}
{% endblock %} 

{% block 'content'%}
<div class="main dash-main">

    <h1> {% trans 'Orders Administration' %}</h1>
    {% block 'data-blocks' %}
    <div class="block-row">
        <a href="/admin/orders/order/"><h3 id="manage-panel" class="blocks">Order Mangement Panel<span>(Click to Manage all the orders)</span></h3></a>
        <h3 class="blocks">{% trans 'Total Orders' %} <span>{{ orders }}</span></h3>
        <h3 class="blocks">{% trans "Today's Orders" %} <span>{{ orders_today }}</span></h3>
        <h3 class="blocks">{% trans "Average Order Price" %} <span>{{ avg_price }}$</span></h3>
        <h3 class="blocks">{% trans "Highest Order" %} <span>{{ max_price }}$</span></h3>
        <h3 class="blocks">{% trans "Minimum Order" %} <span>{{ min_price }}$</span></h3>
    </div>
    {% endblock %}


    <div class="notify-section">
       <div id="sales-chart">
            <canvas id="myChart"></canvas>
            <h1>Monthly Orders Taken</h1>
        </div>

        <div id="recent-actions-module-parent" class="menu-section">
            <h1>{% trans 'All Orders' %}</h1> 
            <table> 
            <tr><th>Orders</th><th>Cashier</th><th>Date-Time</th></tr>
            {% for o in all_orders %}
            <tr>
                <td>{{ o.id }}</td>
                <td>{{ o.user_id }}</td>
                <td>{{ o.datetime }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>

</div>
{% endblock %}

</div>
{% comment %}End Container{% endcomment %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script>
    $.get('{% url "line_chart_json" %}', function(data) {
        var ctx = $("#myChart").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'bar', 
            data: data,
        });
    });
    {% comment %} var ctx = document.getElementById('myChart').getContext('2d');
    const monthNames = [
        "Jan", "Feb", "Mar", "Apr", "May", "June",
        "July", "Aug", "Sep", "Oct", "Nov", "Dec"
    ];
    var d = new Date(); 
    var m1 = monthNames[d.getMonth()-5];
    var m2= monthNames[d.getMonth()-4];
    var m3 = monthNames[d.getMonth()-3];
    var m4 = monthNames[d.getMonth()-2];
    var m5 = monthNames[d.getMonth()-1];
    var m6 = monthNames[d.getMonth()];

    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: [m1, m2, m3, m4, m5, m6],
            datasets: [{
                label: 'Orders in last week',
                backgroundColor: '#7B9BCB',
                borderColor: '#f5dd5d',
                borderWidth: 4,
                pointWidth: 10,
                data: [0, 2, 2, 1, 3, 4],
                fill:false
            }],
            
        },

        // Configuration options go here
        options: {
            
        }
    }); {% endcomment %}
</script>