{% load i18n static %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/dash.css">
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
​
​
<div id="container">
<!--Header-->
<div id="header">
    <div id="branding">
    {% block branding %}
    <h1><b>POS</b> Administration</h1>
    {% endblock %}
    </div>
    {% block usertools %}
    <div id="user-tools">
        {% block welcome-msg %}
            {% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            /
        {% endblock %}
        {% block userlinks %}
            {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
            {% endif %}
            <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
        {% endblock %}
    </div>
    {% endblock %}
    {% block nav-global %}{% endblock %}
</div>
<!--End Header-->
​
 {% block breadcrumbs %}
    <div class="breadcrumbs" id="bread">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; {% trans 'Reports' %}
    </div>
{% endblock %}
​
{% block sidenav%}  
    <div class="sidenav">
        <a href="/admin">Quick Access</a>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/users/index">Users</a>
        <a href="/admin/item/index">Inventory</a>
        <a href="/admin/order/index">Orders</a>
        <a href="/admin/sales">Sales & Purchase</a>
        <a class="active" href="/admin/reports">Reports</a>
    </div>
{% endblock %} 
​
{% block 'content'%}
<div class="main dash-main">
    <div class="menu-section" style="width: 90%;">
        <h1>{% trans 'Orders Report' %}</h1> 
        <table> 
            <tr><th>Order Id</th><th>Cashier</th><th>Customer Name</th><th>Payment</th><th>Date</th></tr>
            {% for order in order_items %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user_id}}</td>
                <td>{{ order.customer.name }}</td>
                <td>{{ order.payment_method}}</td>
                <td>{{ order.datetime }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
​
</div>
{% endblock %}
​
</div>
​
{% block javascript %}
<script>
    $('#item-form').on('submit', function(){
        var start = new Date($('#start').val());
        var end = new Date($('#start').val());
    });
​
</script>
{% endblock %}
Collapse



