{% extends 'admin/base_site.html' %}
{% load i18n static %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/dash.css">


<div id="container">
<!--Header-->
<div id="header">
    <div id="branding">
    {% block branding %}
    <h1><b>POS</b> Administration</h1>
    {% endblock %}
    </div>
    {% block usertools %}
    <div id="user-tools">
        {% block welcome-msg %}
            {% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            /
        {% endblock %}
        {% block userlinks %}
            {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
            {% endif %}
            <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
        {% endblock %}
    </div>
    {% endblock %}
    {% block nav-global %}{% endblock %}
</div>
<!--End Header-->

 {% block breadcrumbs %}
    <div class="breadcrumbs" id="bread">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; {% trans 'Reports' %}
    </div>
{% endblock %}

{% block sidenav%}  
    <div class="sidenav">
        <a href="/admin">Quick Access</a>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/users/index">Users</a>
        <a href="/admin/item/index">Inventory</a>
        <a href="/admin/order/index">Orders</a>
        <a href="/admin/sales">Sales & Purchase</a>
        <a class="active" href="/admin/reports">Reports</a>
    </div>
{% endblock %} 

{% block content %}
<div class="main dash-main">

    <h1> {% trans 'Reports' %}</h1>
    
    <h2> {% trans 'Inventory Report' %}</h2><hr>

    <form id="item-form" method="post">
        {% csrf_token %}
        Start Date: <input name="start" type="date" />
        End Date: <input name="end" type="date"  />
        <input type="submit" value="Submit" />
    </form>

</div>
{% endblock %}

</div>

{% block javascript %}
<script>
    $(document).ready(function(){
        console.log('test');
        $('#item-form').submit(function(){
            var start = new Date($('#start').val());
            var end = new Date($('#end').val());

            console.log(start);
            console.log(end);

            // $.ajax({
            //     url: '/admin/reports/output/',
            //     data: {
            //         'start_date': start,
            //         'end_data': end
            //     },
            //     dataType: 'json',
            //     success: function (data) {
            //         console.log(data);
            //     }
            // });
        });
    });
    

</script>
{% endblock %}